@charset "utf-8";

body {
  background-color: #fdf9f2;
}
.contener {
  max-width: 835px;
}

/* header */

header {
  background-color: #fdf9f2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
.logo .tittle img {
  width: 180px;
  height: auto;
  padding-left: 4%;
}

.logo {
  display: flex;
}
.logo img {
  width: 55px;
  height: auto;
}
.hd_main {
  height: 140px;
  max-width: 1100px;
  padding: 0 8% 0 8%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.pc_nav ul {
  display: flex;
  justify-content: flex-end;
}
.pc_nav .icon {
  width: 17px;
  height: auto;
}
.pc_nav li {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  font-family: "Sofia Pro", sans-serif;
  margin: 0 34px 0 34px;
}

/* main visual */

.mainvisual {
  position: relative;
  margin-top: 150px;
}
.mainvisual img {
  width: 65%;
  height: auto;
  margin-left: auto;
  display: block;
}
.copy {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
}
h2 {
  font-size: 46px;
  line-height: 1.8;
  letter-spacing: 0.35em;
  font-weight: 100;
  margin-bottom: 10px;
}
.mainvisual p {
  font-size: 13px;
  letter-spacing: 0.23em;
}

/* scroll */

.scrolldown p {
  transform: rotate(90deg);
  transform-origin: left;
  margin-left: 8%;
  font-size: 14px;
  font-family: "Sofia Pro" sans-serif;
}
.scrolldown img {
  width: 24px;
  height: auto;
  margin-left: 7%;
  margin-top: 70px;
}
.scrolldown {
  margin-top: -60px;
}

/* about_btn */

.about_btn p {
  transform: rotate(90deg);
  transform-origin: left;
  font-size: 40px;
  font-family: "Sofia Pro" sans-serif;
}
.about_btn img {
  width: 36px;
  height: auto;
  margin-left: -18px;
}
.about_btn {
  position: absolute;
  top: 8%;
  left: 8%;
}

/* about */

#about {
  margin-top: 130px;
  position: relative;
  max-width: 100%;
}
h3 {
  font-size: 35px;
  font-weight: 300;
  line-height: 2.2;
  letter-spacing: 0.2em;
}
.about_desc {
  display: flex;
  justify-content: space-between;
  margin-top: 95px;
  padding-left: 40px;
  border-left: 1px solid black;
}
.about_desc ul {
  padding-top: 25px;
}
.about_desc li {
  display: flex;
  font-size: 16px;
  gap: 60px;
  margin-bottom: 30px;
}
.re_mean {
  font-weight: bold;
}
p.re_word {
  width: 100px;
}
.about_desc li span {
  color: #81b4ad;
  font-weight: bold;
}
.about_text {
  font-size: 15px;
  line-height: 2.6;
  width: 47%;
  margin-top: 80px;
}
.about_desc img {
  width: 40%;
  height: auto;
}
.my_profile {
  width: 150px;
  text-align: center;
  float: right;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  padding-top: 20px;
}
.my_profile a {
  margin-right: 40px;
  font-weight: bold;
}
.my_profile p::after {
  content: "▶︎";
}
.about {
  position: relative;
  max-width: 835px;
  margin: 0 auto;
}
.backdround_Re img {
  position: absolute;
  top: -65px;
  left: 7%;
  width: 94%;
  z-index: -1;
}

/* service_btn */

.service_btn p {
  transform: rotate(90deg);
  transform-origin: left;
  font-size: 40px;
  font-family: "Sofia Pro" sans-serif;
}
.service_btn img {
  width: 36px;
  height: auto;
  margin-left: -18px;
}
.service_btn {
  position: absolute;
  top: 8%;
  left: 8%;
}

/* service */

#service {
  margin: 0 auto;
  margin-top: 250px;
  position: relative;
  max-width: 100%;
}
.service_content {
  display: flex;
  max-width: 835px;
  margin: 0 auto;
}
.service_content img {
  width: 25%;
}
.service_box {
  margin-left: 35px;
  position: relative;
}
.service_tittle p:nth-of-type(1) {
  font-size: 25px;
  font-weight: bold;
  margin-right: 30px;
}
.service_tittle p:nth-of-type(2) {
  font-size: 15px;
  font-weight: bold;
}
.service_text p {
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 0.07em;
  margin-bottom: 24px;
}
.service_tittle {
  display: flex;
  align-items: center;
}
.underline img {
  width: 50px;
  height: auto;
  vertical-align: top;
}
.underline {
  margin-top: 5px;
}
.service_tool {
  display: flex;
}
.service_tool p:nth-of-type(1) {
  margin-right: 96px;
  margin-left: 7px;
}
.service_frame img {
  width: 145px;
  position: absolute;
  top: 144px;
  left: 0;
}
#coding {
  margin-top: 95px;
}

/* work_btn*/

.work_btn p {
  transform: rotate(90deg);
  transform-origin: left;
  font-size: 40px;
  font-family: "Sofia Pro" sans-serif;
}
.work_btn img {
  width: 36px;
  height: auto;
  margin-left: -18px;
}
.work_btn {
  position: absolute;
  top: 8%;
  left: 8%;
}

/* work */

#work {
  margin: 0 auto;
  margin-top: 280px;
  max-width: 100%;
  position: relative;
}
.work_img {
  max-width: 835px;
  margin: 0 auto;
}
.work_img img {
  display: block;
  margin: 0 auto;
  width: 72%;
}
.work_num {
  display: flex;
  align-items: center;
}
.work_num span {
  font-size: 70px;
  font-weight: bold;
  margin-left: 122px;
}
.work_num img {
  width: 50px;
  height: auto;
  margin-left: 30px;
}
.work_title p:nth-of-type(1) {
  font-size: 30px;
}
.work_title p:nth-of-type(2) {
  font-size: 15px;
  margin-left: auto;
}
.work_title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 60px 0 0 122px;
}
.all_view {
  width: 150px;
  text-align: center;
  float: right;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  padding-top: 20px;
  margin-top: 70px;
}
.all_view a {
  margin-right: 40px;
  font-weight: bold;
}
.all_view p::after {
  content: "▶︎";
}

.slick-prev {
  left: 5%;
}
.slick-prev:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  transform: rotate(-135deg);
}
.slick-next {
  right: 5%;
}
.slick-next:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  transform: rotate(45deg);
}
/* contact */

#contact {
  margin: 0 auto;
  margin-top: 300px;
}
.contact_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
.contact_btn p {
  font-size: 40px;
  padding-left: 15px;
  font-family: "Sofia Pro" sans-serif;
}
.contact_btn img {
  width: 36px;
  height: auto;
}
.contact_comment p {
  font-size: 15px;
  line-height: 2.6;
  width: 48%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 120px;
}
.contact_1 {
  width: 120px;
}
.contact_box li {
  display: flex;
  align-items: center;
  gap: 35px;
  padding-bottom: 95px;
}
.contact_2 {
  width: 690px;
  padding: 25px;
  background-color: #f6f6f6;
  color: #999999;
}
.contact_3 {
  width: 690px;
  padding: 25px;
  background-color: #f6f6f6;
  color: #999999;
  padding-bottom: 200px;
}
.contact_text {
  text-align: center;
  position: relative;
  margin-bottom: 300px;
}
.contact_text p {
  font-weight: bolder;
  letter-spacing: 0.15em;
  padding-top: 50px;
}
.contact_text img {
  width: 305px;
  position: absolute;
  top: 20px;
  left: 280px;
}

/* myprofile.html */

#myprofile {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}
.myprofile_title p {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.27em;
  text-align: center;
  margin: 170px 0 30px 0;
}
.myprofile_title img {
  width: 306px;
  position: absolute;
  top: 5px;
  left: 390px;
  z-index: -1;
}
.myprofile_title {
  position: relative;
}
.myprofile_box {
  display: flex;
}
.myprofile_box li {
  display: flex;
  align-items: center;
  gap: 95px;
  margin: 30px;
}
.myprofile_heading {
  font-size: 20px;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 0.27em;
  width: 120px;
}
.myprofile_text {
  font-size: 15px;
  letter-spacing: 0.1em;
  line-height: 0, 2;
  max-width: 50%;
}
.myprofile_box img {
  width: 36%;
  height: auto;
}
.myprofile_img img {
  position: absolute;
  top: 20%;
  left: 55%;
}

/* workbox.html */

#workbox {
  max-width: 1115px;
  margin: 0 auto;
  position: relative;
}
.workbox_contener {
  display: flex;
  justify-content: space-between;
  gap: 45px;
  flex-wrap: wrap;
}
.workbox_wrap {
  max-width: 47%;
}
.workbox_title p {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.27em;
  text-align: center;
  margin: 170px 0 30px 0;
}
.workbox_title img {
  width: 306px;
  position: absolute;
  top: 5px;
  left: 36%;
  z-index: -1;
}
.workbox_list {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 150px;
  margin: 95px 0 45px 0;
  border-bottom: 1px solid;
  padding-bottom: 15px;
}
.workbox_main {
  font-size: 23px;
  letter-spacing: 0.08;
}
.workbox_side {
  font-size: 14px;
  letter-spacing: 0.23;
  margin-left: auto;
}
.workbox_img img {
  width: 100%;
}

/* work1.html */

#work_list {
  max-width: 900px;
  margin: 0 auto;
}
.work_aboutbox_list {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 150px;
  margin: 195px 0 45px 0;
  border-bottom: 1px solid;
  padding-bottom: 15px;
}
.work_aboutbox_main {
  font-size: 40px;
  letter-spacing: 0.08;
}
.work_aboutbox_side {
  font-size: 14px;
  letter-spacing: 0.23;
  margin-left: auto;
}
.work_1_img img {
  width: 100%;
  margin-bottom: 60px;
}
.work_conceptbox {
  position: relative;
}
.work_concept {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
.work_text {
  line-height: 2;
  width: 80%;
}
.work_text2 {
  display: flex;
  gap: 45px;
  margin: 45px 0 45px 0;
}
.work_text2 span {
  font-weight: bold;
}
.work_text3 {
  display: flex;
  align-items: center;
  gap: 25px;
}
.work_text3 img {
  width: 145px;
}
.work_tool {
  padding-left: 10px;
}
.work_tool2 {
  font-weight: bold;
}
.next p::after {
  content: "▶︎";
  padding-left: 10px;
}
.next {
  display: flex;
  align-items: center;
  margin-left: auto;
  z-index: 1;
}
.next p {
  font-size: 16px;
  font-weight: bold;
}
.next_img2 {
  width: 100px;
  margin-left: 70px;
}
.workall_view {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 120px;
}

/* work2.html */

.work_2_img img {
  width: 61%;
  margin-bottom: 60px;
}
.work_2_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.work_menubtn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 205px 0 125px 0;
  position: relative;
}
.frame_line2 {
  position: absolute;
  top: 435px;
  left: 0;
}
.prev p::before {
  content: "◀︎";
  padding-right: 10px;
}
.prev {
  display: flex;
  align-items: center;
  z-index: 1;
}
.prev p {
  font-size: 16px;
  font-weight: bold;
}
.prev_img2 {
  width: 145px;
  margin-right: 70px;
}

/* work3.html */

.work_3_img img {
  width: 61%;
  margin-bottom: 60px;
}
.work_3_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.prev_img3 {
  width: 100px;
  margin-right: 70px;
}
.next_img3 {
  width: 145px;
  margin-left: 70px;
}

/* work4.html */

.work_4_img img {
  width: 100%;
  margin-bottom: 60px;
}
.work_4_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.work_wrap {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 105px;
}
.work_wrap p {
  font-weight: bold;
}
.work_wrap img {
  margin-top: 15px;
}
.work_pc img {
  width: 546px;
}
.work_sp {
  width: 150px;
}
.prev_img4 {
  width: 100px;
  margin-right: 70px;
}
.next_img4 {
  width: 145px;
  margin-left: 70px;
}

/* work5.html */

.work_5_img img {
  width: 100%;
  margin-bottom: 60px;
}
.prev_img5 {
  width: 145px;
  margin-right: 70px;
}
.next_img5 {
  width: 145px;
  margin-left: 70px;
}

/* work6.html */

.work_6_img img {
  width: 100%;
  margin-bottom: 60px;
}
.work_text p {
  line-height: 2;
  width: 80%;
}
.work_text p:nth-of-type(1) {
  padding-bottom: 35px;
}
.work_text p:nth-of-type(5) {
  padding-bottom: 35px;
}
.textbox {
  display: flex;
  padding-bottom: 15px;
}
.textbox li {
  padding-bottom: 15px;
}
.textbox_1 {
  font-weight: bold;
  padding-right: 30px;
}
.prev_img6 {
  width: 145px;
  margin-right: 70px;
}

/* contact */

.contact_menu {
  text-align: center;
}
.contact_menu p {
  font-size: 40px;
  letter-spacing: 0.02em;
  margin: 160px 0 30px 0;
}
.contact_menu img {
  width: 300px;
}

/* footer */

.ft_main {
  margin: 165px 80px 70px 0;
  text-align: center;
}

/*スマホ版メニュー*/

.sp_nav,
.sp_btn {
  display: none;
}

@media screen and (max-width: 1100px) {
  .pc_nav {
    display: none;
  }
  /*ハンバーガー*/
  .sp_btn {
    display: block;
    height: 23px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 25px;
    z-index: 2;
  }
  .sp_btn span {
    display: block;
    width: 33px;
    height: 3px;
    background: black;
    border-radius: 2px;
    position: relative;
    top: 10px;
    transition: 0.3s;
  }
  .sp_btn span::before,
  .sp_btn span::after {
    content: "";
    display: block;
    width: 33px;
    height: 3px;
    background: black;
    border-radius: 2px;
    position: absolute;
    transition: 0.3s;
  }
  .sp_btn span::before {
    bottom: 10px;
  }
  .sp_btn span::after {
    top: 10px;
  }

  /*ばつ印*/
  .sp_btn.open span {
    background: transparent;
  }
  .sp_btn.open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  .sp_btn.open span::after {
    top: 0;
    transform: rotate(135deg);
  }

  /*SP版メニュー*/
  .sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(129, 180, 173, 0.7);
    z-index: 1;
  }
  .sp_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .sp_nav ul li {
    padding: 20px;
    color: #ffffff;
    font-size: 20px;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
      "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
      "ＭＳ 明朝", serif;
  }
  .catch_copy_2 {
    font-size: 67px;
  }
  .catch_copy_3 {
    font-size: 20px;
  }
  .about_textbox p:nth-of-type(1) {
    font-size: 36px;
  }
}
