@charset "utf-8";

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #f6ebd8;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading img {
  width: 55px;
  opacity: 0;
  animation: fadeIn 3s ease 2s forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.loading_tittle {
  display: block;
  opacity: 0;
  font-size: 30px;
  font-family: "uzura";
  text-align: center;
  padding: 15px;
}
.loading_tittle span {
  opacity: 0;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

body {
  background-color: #fdf9f2;
}
.contener {
  max-width: 835px;
}
.fadeIn_left {
  opacity: 0;
  transform: translate(-50%, 0);
  transition: 10s;
}
.fadeIn_left.is-show {
  transform: translate(0, 0);
  opacity: 1;
}
.fadeIn {
  opacity: 0;
  transform: translate(0, 20%);
  transition: 2s;
}
.fadeIn.is-show {
  transform: translate(0, 0);
  opacity: 1;
}

@keyframes fadeInup {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* header */

header {
  background-color: #fdf9f2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
.logo .tittle img {
  width: 180px;
  height: auto;
  padding-left: 4%;
}
h1 {
  font-family: "uzura";
  font-size: 40px;
  font-weight: 400;
  margin-left: 10px;
}

.logo {
  display: flex;
  margin-left: 30px;
}
.logo img {
  width: 55px;
  height: auto;
}
.hd_main {
  height: 100px;
  margin-right: 70px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.pc_nav ul {
  display: flex;
  justify-content: flex-end;
}
.pc_nav .icon {
  width: 17px;
  height: auto;
}
.pc_nav li {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  font-family: "sofia-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 30px 0 30px;
}
.pc_nav li:nth-child(4) {
  color: #81b4ad;
}

/* main visual */

.mainvisual {
  position: relative;
  margin-top: 150px;
}
.mainvisual img {
  width: 69%;
  height: auto;
  margin-left: auto;
  display: block;
}
.copy {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
}
h2 {
  font-size: 46px;
  line-height: 1.8;
  letter-spacing: 0.25em;
  margin-bottom: 10px;
  font-weight: 400;
  font-style: normal;
}
.mainvisual p {
  font-size: 13px;
  letter-spacing: 0.23em;
}
.sp_only {
  display: none;
}

/* scroll */
.scrolldown {
  transition: 0.5s;
}
.scrolldown p {
  transform: rotate(90deg);
  transform-origin: left;
  margin-left: 8%;
  font-size: 14px;
  font-family: "sofia-pro", sans-serif;
}
.foot_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 7%;
  margin-top: 70px;
  width: 20px;
}

.foot {
  width: 15px;
  opacity: 0;
}

@keyframes footprints {
  0%,
  33.33% {
    opacity: 1;
  }
}

.foot:nth-child(1) {
  animation: footprints 4s linear infinite;
}
.foot:nth-child(2) {
  animation: footprints 4s linear infinite;
  animation-delay: 1s;
  margin-left: 15px;
}
.foot:nth-child(3) {
  animation: footprints 4s linear infinite;
  animation-delay: 2s;
}
.scrolldown {
  margin-top: -60px;
}

/* about_btn */

.about_btn p {
  transform: rotate(90deg);
  transform-origin: left;
  font-size: 35px;
  font-family: "sofia-pro", sans-serif;
}
.about_btn img {
  width: 33px;
  height: auto;
  margin-left: -18px;
}
.about_btn {
  position: absolute;
  top: 8%;
  left: 8%;
  padding-top: 250px;
}

/* about */

#about {
  padding-top: 300px;
  position: relative;
  max-width: 100%;
  margin-top: -100px;
}
h3 {
  font-size: 30px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.2em;
}
.about_desc {
  display: flex;
  justify-content: space-between;
  margin-top: 95px;
}
.about_list {
  padding-left: 40px;
  border-left: 1px solid black;
}
.about_desc ul {
  padding-top: 25px;
}
.about_desc li {
  display: flex;
  font-size: 18px;
  gap: 60px;
  margin-bottom: 30px;
}
.re_mean {
  margin-right: 20px;
  font-weight: bold;
  width: 240px;
}
.re_word {
  font-size: 18px;
}
p.re_word {
  width: 130px;
}
.about_desc li span {
  color: #81b4ad;
  font-weight: bold;
}
.about_text {
  font-size: 15px;
  line-height: 2.6;
  margin-top: 80px;
}
.about_desc img {
  width: 40%;
  height: auto;
  object-fit: cover;
}
.my_profile {
  width: 140px;
  text-align: center;
  float: right;
  border-bottom: 1px solid #5f3339;
  padding-bottom: 7px;
  padding-top: 20px;
}
.my_profile a {
  font-size: 18px;
  margin-right: 40px;
  font-weight: bold;
}
.my_profile p::after {
  content: "▶︎";
}
.about {
  position: relative;
  max-width: 835px;
  max-width: 70%;
  margin: 0 auto;
}
.background_Re p {
  font-size: 700px;
  font-family: "uzura";
  color: rgba(227, 214, 201, 0.3);
  position: absolute;
  top: 120px;
  right: 0;
  z-index: -1;
}

/* service_btn */

.service_btn p {
  transform: rotate(90deg);
  transform-origin: left;
  font-size: 35px;
  font-family: "sofia-pro", sans-serif;
}
.service_btn img {
  width: 33px;
  height: auto;
  margin-left: -18px;
}
.service_btn {
  position: absolute;
  top: 5%;
  left: 8%;
  padding-top: 170px;
}

/* service */

#service {
  margin: 0 auto;
  padding-top: 200px;
  position: relative;
  max-width: 100%;
  margin-top: 50px;
}
.service_content {
  display: flex;
  max-width: 835px;
  max-width: 70%;
  margin: 0 auto;
}
.service_content img {
  width: 25%;
  object-fit: cover;
}
.service_box {
  margin-left: 35px;
  position: relative;
}
.service_tittle p:nth-of-type(1) {
  font-size: 25px;
  font-weight: bold;
  margin-right: 30px;
}
.service_tittle p:nth-of-type(2) {
  font-size: 15px;
  font-weight: bold;
}
.service_text p {
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 0.07em;
  margin-bottom: 24px;
}
.service_tittle {
  display: flex;
  align-items: center;
}
.underline img {
  width: 50px;
  height: auto;
  vertical-align: top;
}
.underline {
  margin-top: 5px;
}
.service_tool {
  display: flex;
  align-items: flex-start;
}
.tool {
  font-weight: bold;
  margin-left: 15px;
}
.service_tool > p {
  width: 60%;
}
.service_frame {
  position: relative;
  width: 145px;
}
.service_frame p {
  margin-left: 7px;
}
.service_frame img {
  width: 145px;
  position: absolute;
  top: -30%;
  left: 0;
}
#coding {
  margin-top: 95px;
}

/* work_btn*/

.work_btn p {
  transform: rotate(90deg);
  transform-origin: left;
  font-size: 35px;
  font-family: "sofia-pro", sans-serif;
}
.work_btn img {
  width: 33px;
  height: auto;
  margin-left: -18px;
}
.work_btn {
  position: absolute;
  top: 3%;
  left: 8%;
  padding-top: 190px;
}

/* work */

#work {
  margin: 0 auto;
  padding-top: 100px;
  max-width: 100%;
  position: relative;
  margin-top: 150px;
}
.work_box {
  max-width: 835px;
  margin: 0 auto;
}
.work_img a {
  width: 72%;
  display: block;
  margin: 0 auto;
}
.work_img img {
  width: 100%;
}
.work_num {
  display: flex;
  align-items: center;
  margin-top: -25px;
}
.work_num span {
  font-size: 70px;
  font-family: "sofia-pro", sans-serif;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-left: 122px;
}
.work_num img {
  width: 50px;
  height: auto;
  margin-left: 30px;
}
.work_title p:nth-of-type(1) {
  font-size: 30px;
}
.work_title p:nth-of-type(2) {
  font-size: 15px;
  margin-left: auto;
}
.work_title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 6% 0 0 15%;
}
.all_view {
  width: 130px;
  text-align: center;
  float: right;
  border-bottom: 1px solid;
  padding-bottom: 7px;
  padding-top: 20px;
  margin-top: 70px;
}
.all_view a {
  font-size: 18px;
  margin-right: 40px;
  font-weight: bold;
}
.all_view p::after {
  content: "▶︎";
}

.slick-prev {
  left: 5%;
  z-index: 3;
}
.slick-prev:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: 3px solid #5f3339;
  border-right: 3px solid #5f3339;
  transform: rotate(-135deg);
}
.slick-next {
  right: 5%;
  z-index: 3;
}
.slick-next:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: 3px solid #5f3339;
  border-right: 3px solid #5f3339;
  transform: rotate(45deg);
}
.slick-slide {
  padding-bottom: 10px;
}
/* contact */

#contact {
  margin: 0 auto;
  margin-top: 250px;
  padding: 10%;
  background: linear-gradient(to bottom, #e3d6c980, #fdf9f2);
}
.contact_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
.contact_btn p {
  font-size: 35px;
  padding-left: 15px;
  font-family: "sofia-pro", sans-serif;
}
.contact_btn img {
  width: 33px;
  height: auto;
}
.contact_comment p {
  font-size: 15px;
  line-height: 2.6;
  width: 48%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 120px;
}
.contact_1 {
  width: 140px;
  margin-left: 20px;
}
.contact_4 {
  width: 140px;
  margin-left: 20px;
  margin-top: -173px;
}
.contact_box li {
  display: flex;
  align-items: center;
  gap: 35px;
  padding-bottom: 95px;
}
.contact_2 {
  width: 690px;
  padding: 25px;
  background-color: #f6f6f6;
  color: #999999;
  border: none;
}
.contact_3 {
  width: 690px;
  padding: 25px;
  background-color: #f6f6f6;
  color: #999999;
  padding-bottom: 200px;
  border: none;
}
.contact_text {
  text-align: center;
  position: relative;
  margin: 0 auto;
  display: block;
  width: 300px;
  height: 70px;
  /* background-image: url("../images/frame_3.svg"); */
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #5f3339;
}
.contact_text p {
  font-size: 17px;
  font-weight: bolder;
  color: #ffffff;
  letter-spacing: 1.3em;
  text-indent: 1.3em;
  /* padding-top: 50px; */
}
.contact_text img {
  width: 305px;
  position: absolute;
  top: 20px;
  left: 280px;
}

/* footer */

.ft_main {
  margin: 165px 70px 70px 0;
  text-align: center;
}
.copylight {
  font-size: 11px;
  font-family: "sofia-pro", sans-serif;
  letter-spacing: 0, 15em;
  text-align: center;
  padding-bottom: 50px;
}

/* myprofile.html */

#myprofile {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}
.myprofile_title {
  display: block;
  opacity: 0;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.27em;
  text-align: center;
  margin: 170px 0 30px 0;
  background-image: url(../images/underline_2.svg);
  background-size: 100% 100%;
}
.myprofile_title span {
  opacity: 0;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}
.myprofile_title img {
  width: 306px;
  position: absolute;
  top: 5px;
  left: 390px;
  z-index: -1;
}
.myprofile_title {
  position: relative;
}
.myprofile_box {
  display: flex;
}
.myprofile_box li {
  display: flex;
  align-items: flex-start;
  gap: 95px;
  margin: 30px;
}
.myprofile_heading {
  font-size: 20px;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 0.27em;
  width: 130px;
}
.myprofile_text {
  font-size: 15px;
  letter-spacing: 0.1em;
  line-height: 2;
  max-width: 50%;
}

.myprofile_img img {
  position: absolute;
  top: 20%;
  left: 58%;
  width: 36%;
  height: auto;
}

/* workbox.html */

#workbox {
  max-width: 1115px;
  margin: 0 auto;
  position: relative;
}
.workbox_contener {
  display: flex;
  justify-content: space-between;
  gap: 45px;
  flex-wrap: wrap;
  margin: 0 20px 0 20px;
}
.workbox_wrap {
  max-width: 47%;
}
.workbox_title {
  display: block;
  opacity: 0;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.27em;
  text-align: center;
  margin: 170px 0 30px 0;
  background-image: url(../images/underline_2.svg);
  background-size: 100% 100%;
}
.workbox_title span {
  opacity: 0;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}
.workbox_title img {
  width: 306px;
  position: absolute;
  top: 5px;
  left: 36%;
  z-index: -1;
}
.workbox_list {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 95px 0 45px 0;
  border-bottom: 1px solid;
  padding-bottom: 15px;
}
.workbox_main {
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 0.08em;
}
.workbox_side {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.23em;
  margin-left: auto;
}
.workbox_img img {
  width: 100%;
}

/* work1.html */

#work_list {
  max-width: 900px;
  margin: 0 auto;
}
.work_aboutbox_list {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 195px 0 45px 0;
  border-bottom: 1px solid;
  padding-bottom: 15px;
}
.work_aboutbox_main {
  font-size: 40px;
  letter-spacing: 0.08em;
}
.work_aboutbox_side {
  font-size: 14px;
  letter-spacing: 0.23em;
  margin-left: auto;
}
.work_1_img img {
  width: 100%;
  margin-bottom: 60px;
}
.work_conceptbox {
  position: relative;
}
.work_concept {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
.work_text {
  line-height: 2;
}
.work_text2 {
  display: flex;
  gap: 45px;
  margin: 45px 0 45px 0;
}
.work_text2 span {
  font-weight: bold;
}
.work_text3 {
  display: flex;
  align-items: center;
  gap: 25px;
}
.work_text3 img {
  width: 145px;
}
.work_tool {
  padding-left: 10px;
}
.work_tool2 {
  font-weight: bold;
}
.next p::after {
  content: "▶︎";
  padding-left: 10px;
}
.next {
  margin-left: auto;
  z-index: 1;
}
.next a {
  display: flex;
  align-items: center;
}
.next p {
  font-size: 16px;
  font-weight: bold;
}
.next_img2 {
  width: 100px;
  margin: 0 10px 0 60px;
}

a.workall_view {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fdf9f2;
  border: 1px solid #5f3339;
  box-sizing: border-box;
  width: 30%;
  height: 50px;
  color: #5f3339;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  position: relative;
  transition-duration: 0.2s;
  margin: 0 auto;
}
a.workall_view:hover {
  background: #5f3339;
  color: #fdf9f2;
}
a.workall_view:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 8px;
  border-color: transparent transparent transparent #5f3339;
  position: absolute;
  top: 50%;
  left: 6%;
  margin-top: -7px;
}
a.workall_view:hover:before {
  border-color: transparent transparent transparent #fdf9f2;
}

/* work2.html */

.work_2_img img {
  width: 61%;
  margin-bottom: 60px;
}
.work_2_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.work_menubtn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 205px 0 70px 0;
  position: relative;
  height: 227px;
  background-image: url("../images/frame_line2.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.frame_line2 {
  position: absolute;
  top: 435px;
  left: 0;
}
.prev p::before {
  content: "◀︎";
  padding-right: 10px;
}
.prev a {
  display: flex;
  align-items: center;
  z-index: 1;
}
.prev p {
  font-size: 16px;
  font-weight: bold;
}
.prev_img2 {
  width: 145px;
  margin: 0 60px 0 10px;
}

/* work3.html */

.work_3_img img {
  width: 61%;
  margin-bottom: 60px;
}
.work_3_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.prev_img3 {
  width: 100px;
  margin: 0 60px 0 10px;
}
.next_img3 {
  width: 145px;
  margin: 0 10px 0 60px;
}

/* work4.html */

.work_4_img img {
  width: 100%;
  margin-bottom: 60px;
}
.work_4_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.work_wrap {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 105px;
}
.work_wrap p {
  font-weight: bold;
}
.work_wrap img {
  margin-top: 15px;
}
.work_pc img {
  width: 546px;
}
.work_sp {
  width: 150px;
}
.sp_text {
  display: none;
}
.prev_img4 {
  width: 100px;
  margin: 0 60px 0 10px;
}
.next_img4 {
  width: 145px;
  margin: 0 10px 0 60px;
}

/* work5.html */

.work_5_img img {
  width: 100%;
  margin-bottom: 60px;
}
.prev_img5 {
  width: 145px;
  margin: 0 60px 0 10px;
}
.next_img5 {
  width: 145px;
  margin: 0 10px 0 60px;
}

/* work6.html */

.work_6_img img {
  width: 100%;
  margin-bottom: 60px;
}
.work_text p {
  line-height: 2;
}
.work_text p:nth-of-type(1) {
  padding-bottom: 35px;
}
.work_text p:nth-of-type(5) {
  padding-bottom: 35px;
}
.textbox {
  display: flex;
  padding-bottom: 15px;
}
.textbox li {
  padding-bottom: 15px;
}
.textbox_1 {
  font-weight: bold;
  padding-right: 30px;
}
.prev_img6 {
  width: 145px;
  margin: 0 60px 0 10px;
}

/* contact */

.contact_tittle {
  text-align: center;
  font-size: 40px;
  color: #81b4ad;
  font-family: "sofia-pro", sans-serif;
  letter-spacing: 0.02em;
  margin: 150px 0 30px 0;
}
.contact_button a {
  font-size: 16px;
  letter-spacing: 0.15em;
}
.contact_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3dec2;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 200px;
  width: 250px;
  padding: 25px 0;
  border: none;
  border-radius: 50vh;
  cursor: pointer;
  transition: 0.3s ease;
  position: relative;
  display: block;

  background: linear-gradient(-45deg, #a2d7d0 50%, #d4f4f0 60%, #a2d7d0 70%);
  background-size: 350% 100%;
  animation: shine 10s infinite;
  animation-timing-function: linear;
  animation-delay: 0s;
}

@keyframes shine {
  0% {
    background-position: 350%;
  }
  50% {
    background-position: 0;
  }
  100% {
    background-position: -350%;
  }
}
.contact_button::after {
  content: "";
  width: 9px;
  height: 9px;
  border-top: 1px solid #5f3339;
  border-right: 1px solid #5f3339;
  transform: rotate(45deg);
  position: absolute;
  top: 28px;
  left: 210px;
}

/*スマホ版メニュー*/

.sp_nav,
.sp_btn {
  display: none;
}

@media screen and (max-width: 1100px) {
  .pc_nav {
    display: none;
  }
  .sns_icon {
    display: flex;
  }
  .sns_icon .icon {
    width: 15px;
  }
  .background_Re p {
    font-size: 600px;
    top: 330px;
  }
  /*ハンバーガー*/
  .sp_btn {
    display: block;
    height: 23px;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 25px;
    z-index: 2;
  }
  .sp_btn span {
    display: block;
    width: 30px;
    height: 3px;
    background: #5f3339;
    border-radius: 2px;
    position: relative;
    top: 10px;
    transition: 0.3s;
  }
  .sp_btn span::before,
  .sp_btn span::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: #5f3339;
    border-radius: 2px;
    position: absolute;
    transition: 0.3s;
  }
  .sp_btn span::before {
    bottom: 10px;
  }
  .sp_btn span::after {
    top: 10px;
  }

  /*ばつ印*/
  .sp_btn.open span {
    background: transparent;
  }
  .sp_btn.open span::before {
    bottom: 0;
    transform: rotate(45deg);
    background: #ffffff;
  }
  .sp_btn.open span::after {
    top: 0;
    transform: rotate(135deg);
    background: #ffffff;
  }

  /*SP版メニュー*/
  .sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(129, 180, 173, 0.7);
    z-index: 1;
  }
  .sp_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .sp_nav ul li {
    padding: 25px;
    color: #ffffff;
    font-size: 25px;
    font-family: "sofia-pro", sans-serif;
  }
  .icon {
    width: 25px;
  }
  .logo img {
    width: 10%;
  }
  h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 767px) {
  /* mainvisual */

  .mainvisual img {
    width: 100%;
    margin-bottom: 35px;
    margin-top: -50px;
  }
  .copy {
    position: static;
    top: auto;
    left: auto;
    transform: none;
    margin: 0 auto;
    width: 60%;
  }
  .sp_only {
    display: inline;
  }
  h1 {
    font-size: 23px;
  }
  h2 {
    font-size: 27px;
    line-height: 1.85;
    letter-spacing: 0.19em;
  }

  /* scroll */

  .scrolldown {
    position: fixed;
    bottom: 7%;
    left: 30px;
    width: 20px;
    z-index: 5;
  }
  .scrolldown p {
    font-size: 12px;
  }
  .scrolldown img {
    width: 12px;
  }
  .foot_container {
    margin-left: -7px;
  }

  /* about */

  #about {
    padding-top: 0;
  }
  .about_btn p {
    transform: none;
    font-size: 30px;
  }
  .about_btn img {
    width: 20px;
    height: auto;
  }
  .about_btn {
    position: static;
    top: auto;
    left: auto;
    font-size: 20px;
    letter-spacing: 0.12em;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 200px;
  }
  h3 {
    font-size: 17px;
    margin: 0 auto;
    margin-top: 40px;
  }
  .about_desc {
    flex-direction: column;
  }
  .about_desc li {
    flex-direction: column;
  }
  .about_desc img {
    width: 100%;
    margin-bottom: 60px;
    order: -1;
  }
  .re_word {
    font-size: 20px;
    margin-left: 20%;
  }
  .re_mean {
    font-size: 12px;
    margin-left: 33%;
  }
  .about_desc li {
    gap: 15px;
  }
  .about_text {
    margin: 0 auto;
    margin-top: 40px;
    font-size: 15px;
    line-height: 1.75;
    letter-spacing: 0.12em;
  }
  .my_profile {
    margin-right: -40px;
  }
  .my_profile p {
    font-size: 15px;
  }
  .about_list {
    padding-left: 0%;
  }
  .about {
    max-width: 65%;
  }
  .background_Re p {
    font-size: 240px;
    top: 220px;
  }

  /* servisu */

  #service {
    max-width: 90%;
    padding-top: 0;
  }
  #coding {
    margin-top: 70px;
  }
  .service_btn p {
    transform: none;
    font-size: 30px;
  }
  .service_btn img {
    width: 20px;
    height: auto;
  }
  .service_btn {
    position: static;
    top: auto;
    left: auto;
    font-size: 20px;
    letter-spacing: 0.12em;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 45px;
    padding-top: 100px;
  }
  .service_content img {
    width: 65%;
    margin-bottom: 30px;
  }
  .service_content {
    flex-direction: column;
  }
  .service_tittle p:nth-of-type(1) {
    font-size: 20px;
    letter-spacing: 0.1em;
  }
  .underline img {
    width: 51px;
    margin-bottom: 15px;
  }
  .service_box {
    margin-left: 0;
  }
  .service_text p {
    font-size: 14px;
    line-height: 1.7;
  }
  .service_tool p:nth-of-type(1) {
    font-size: 14px;
    line-height: 1.2;
    margin-right: 0;
    width: 120px;
  }
  .service_tool p:nth-of-type(2) {
    margin-left: 20px;
    font-size: 12px;
  }
  .service_frame img {
    width: 130px;
  }
  .tool {
    margin-top: -5px;
  }

  /* work */

  #work {
    max-width: 90%;
    padding-top: 100px;
    margin-top: 0;
  }
  .work_num {
    margin-top: 0;
    margin-left: -40px;
  }
  .work_num span {
    font-size: 35px;
    margin-left: 65px;
  }
  .work_num img {
    width: 22px;
    margin-left: 10px;
    margin-top: 8px;
  }
  .work_img a {
    width: 90%;
  }
  .work_title {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8%;
  }
  .work_title p:nth-of-type(1) {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .work_title p:nth-of-type(2) {
    font-size: 14px;
    font-weight: bold;
    margin-left: 0;
  }
  .work_slider {
    width: 80%;
  }
  .work_btn p {
    transform: none;
    font-size: 30px;
  }
  .work_btn img {
    width: 20px;
    height: auto;
  }
  .work_btn {
    position: static;
    top: auto;
    left: auto;
    font-size: 20px;
    letter-spacing: 0.12em;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 45px;
    padding-top: 0;
  }
  .slick-next {
    top: 30%;
    right: -2%;
  }
  .slick-prev {
    top: 30%;
    left: -2%;
  }

  /* contact */

  #contact {
    margin-top: 200px;
    padding-top: 130px;
  }
  .contact_btn {
    margin-bottom: 45px;
  }
  .contact_btn p {
    font-size: 30px;
  }
  .contact_btn img {
    width: 20px;
    height: auto;
  }
  .contact_comment p {
    font-size: 12px;
  }
  .contact_box li {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  .contact_1 {
    margin-left: 0;
  }
  .contact_2 {
    width: 80%;
    padding: 15px;
  }
  .contact_3 {
    width: 80%;
  }
  .contact_4 {
    margin-top: 0;
  }
  .contact_text {
    width: 230px;
  }
  .contact_text p {
    font-size: 13px;
    font-weight: bold;
    z-index: 3;
  }
  .contact_comment p {
    width: 100%;
    margin-bottom: 80px;
  }
  .contact_box li {
    padding-bottom: 70px;
  }

  /* my_profile */

  #myprofile {
    max-width: 84%;
  }
  .myprofile_title {
    font-size: 25px;
    font-weight: 400;
    margin-top: 120px;
  }
  .myprofile_title img {
    width: 195px;
    margin-left: -110px;
  }
  .myprofile_img img {
    width: 100%;
    position: initial;
  }
  .myprofile_heading {
    font-size: 16px;
  }
  .myprofile_heading2 {
    font-size: 14px;
    margin-top: -140px;
  }
  .myprofile_text {
    font-size: 15px;
    max-width: 100%;
  }
  .myprofile_box li {
    flex-direction: column;
    gap: 2px;
    margin-right: 0;
  }
  .contact_tittle {
    font-size: 30px;
  }
  .contact_button a {
    font-size: 15px;
  }

  /* workbox.html */

  .workbox_title {
    font-size: 25px;
  }
  .workbox_title img {
    width: 195px;
  }
  .workbox_contener {
    flex-direction: column;
  }
  .workbox_wrap {
    max-width: 85%;
    margin: 0 auto;
  }
  .workbox_main {
    font-size: 20px;
  }
  .workbox_side {
    font-size: 12px;
  }

  /* work1.html */

  #work_list {
    max-width: 85%;
  }
  .work_aboutbox_main {
    font-size: 20px;
  }
  .work_aboutbox_side {
    font-size: 12px;
  }
  .work_concept {
    font-size: 14px;
    margin-bottom: 12px;
  }
  .workall_view {
    margin-top: 0;
    margin-bottom: 100px;
  }
  .workall_view a {
    font-size: 14px;
  }
  .work_text {
    font-size: 14px;
  }
  .work_text2 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .work_menubtn {
    margin-top: 50px;
    margin-bottom: -30px;
  }
  .work_chage {
    font-size: 14px;
  }
  .work_chage2 {
    font-size: 14px;
  }
  .work_text3 img {
    width: 98px;
  }
  .work_tool2 {
    font-size: 14px;
  }
  .next p {
    font-size: 12px;
  }
  .next_img2 {
    width: 50px;
    margin-left: 40px;
  }
  a.workall_view {
    font-size: 15px;
    width: 50%;
  }
  .frame_line2 {
    top: 352px;
  }

  /* work2.html */

  .prev p {
    font-size: 12px;
  }
  .prev_img2 {
    width: 60px;
    margin-right: 27px;
  }

  /* work3.html */

  .prev_img3 {
    width: 52px;
    margin-right: 32px;
  }
  .next_img3 {
    width: 77px;
    margin-left: 10px;
  }

  /* work4.html */

  .prev_img4 {
    width: 52px;
    margin-right: 32px;
  }

  .next_img4 {
    width: 77px;
    margin-left: 10px;
  }
  .pc_text {
    display: none;
  }
  .sp_text {
    display: block;
  }

  /* work5.html */

  .prev_img5 {
    width: 77px;
    margin-right: 10px;
  }
  .next_img5 {
    width: 77px;
    margin-left: 10px;
  }

  /* work6.html */

  .prev_img6 {
    width: 77px;
    margin-right: 10px;
  }
  .work_text p {
    font-size: 12px;
  }
  .textbox_1 li {
    font-size: 12px;
  }
  .textbox_2 li {
    font-size: 12px;
  }
}
